<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Pittsford Village Government Videos</title>

    <meta name="description" content="Pittsford Village Videos is a grassroots, non-partisan group that is helping to make digital media available online covering government events in Pittsford Village, NY.">

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/local.css" rel="stylesheet">

    <meta property="og:image" content="images/header-og-image.jpg"/>
    <meta property="og:description" content="Pittsford Village Videos is a grassroots, non-partisan group that is helping to make digital media available online covering government events in the village."/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <img class="header" src="images/header.jpg" height="256" width="1024" alt="Schoen Place with frozen Canal in winter 2019" />
          <h1>Pittsford Village Videos: Grassroots Videos of Government Events</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6">
          <ul>

            <% videos.each do |video| %>
              <li>
                <a href="<%= video.link %>"><%= video.name %></a>
              </li>
            <% end %>

          </ul>
        </div>

        <div class="col-xs-6">
          <p>We are a grassroots, non-partisan group that is helping to make digital media available online, covering government events in Pittsford Village. Our mission is to help citizens in Pittsford Village to become more educated and engaged with their government, and more unified as neighbors in supporting our wonderful village.</p>

          <p>Our aim is not to cover every single event, but we'll cover the ones that we do attend with the right equipment on hand. Long-term, we hope that the village government takes over this initiative so that coverage is more consistent.</p>

          <p>Have a link to a recording of an event that you want to share, have questions, or want to help us? Email <a href="mailto:justin@phq.org">justin@phq.org</a>.</p>

          <p>Ready to jump in and add a link, or modify this web site? Head over to the <a href="https://github.com/jsl/village-videos">source code</a>.</p>

          <p>Thanks for stopping by!</p>
        </div>
      </div>
    </div>

  </body>
</html>
